.form-content {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 200px;
}



.box-svg-cadastro {
  padding: 16px;
}

@media (max-width: 768px) {
  .box-svg-cadastro {
    display: none;
  }
}
